# Ignore virtual environment and cache files
.venv
__pycache__/

# Ignore logs and temporary files
*.log

# Ignore .env file
.env

# Ignore pytest cache, coverage, and htmlcov
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.cover
.hypothesis/

# Ignore image uploads, edited, and detected
app/static/uploaded/
app/static/edited/
app/static/detected/